<!-- Sidebar -->
      <nav class="col-md-2 d-none d-md-block sidebar">

        <ul class="nav flex-column px-2">
            <h5 class="text-white text-left mb-1">
            <i class="bi bi-list me-2"></i> Menu
        </h5>
            <li class="nav-item my-1">
            <a href="radicacion.html" class="nav-link sidebar-btn active">
                <i class="bi bi-pencil-square me-2"></i> Radicación
            </a>
            </li>
            <li class="nav-item my-1">
            <a href="gestion.html" class="nav-link sidebar-btn">
                <i class="bi bi-folder2-open me-2"></i> Gestión
            </a>
            </li>
        </ul>
        </nav>